body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  .center{text-align:center}
  #space-invaders {
    margin: 0 auto;
    display: block;
    background: lightgrey;
    
  }